.body{
    padding: 100px;
    margin: 0%;
}
input{
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 6px;
    border-width: 0.5px;
    border-color: azure;
}
input:hover{
    opacity: 0.4px;
}

input:active{
    border-width: 0.5px;
}

button{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    color: aliceblue;
    border-radius: 4px;
}
button:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;

}
div{
    display: inline-block;
    margin-top: 50px;
    background-color: rgb(255, 0, 0);
    padding: 30px;
    height: 500px;
    width: 250px;
    background-image:url("d5.jpeg");
background-size: 320px 620px;
background-repeat: no-repeat;
border-radius: 20px;


}
img{
    width: 90px;
    margin-bottom: 20px;
    border-radius: 50px;
}
p{
    color: aliceblue;

}
.b1{
    width: 343px;
}
body{
background-image: url(d6.jpg);
background-repeat: no-repeat;
background-size: 1400px 700px;
background-position: center 0,300px, 400px;

}